
  <div class="masonry-item col-lg-4 col-md-6 px-4 accessories">
    <div class="block block-image-holder mb-0 image-animate-wrapper">
      <div class="block-image image-animate--hover">
        <a href="pages/shop/accessories-homepage.html">
        <%= image_tag "#{item.image_url}", class: " border rounded" %>
        </a>
      </div>

      <div class="card-body px-0">
        <div class="">
          <a href="#" class="heading heading-5 strong-500"><%= item.title %></a>
          <p class="c-gray-light mt-2 d-none">XXX</p>
        </div>
      </div>
    </div>
  </div>
