<div class="container">
  <h2>Info sur notre boutique en ligne</h2>
  <p data-height="659" data-theme-id="0" data-slug-hash="EojDs" data-default-tab="result" data-user="tjoen" data-embed-version="2" data-pen-title="SVG pong" class="codepen">See the Pen <a href="https://codepen.io/tjoen/pen/EojDs/">SVG pong</a> by Theun (<a href="https://codepen.io/tjoen">@tjoen</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>
