<section class="slice pt-5 sct-color-2">
    <div class="container">
        <div class="row">
          <section class="slice pt-0 sct-color-2">
            <div class="container">
              <div class="col-lg-12">
                <div class="row-wrapper">
                  <div class="row cols-sm-space cols-md-space cols-md-space">
                    <%= render @items %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
</section>
