<div class="container">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fab fa-searchengin"></i></span>
      </div>
      <input type="search" class="form-control light-table-filter" data-table="order-table" placeholder="Filter" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    </div>

  <table class="order-table table table-bordered table-striped table-hover order-table">
   <thead>
       <tr>
        <th># Order</th>
        <th>Date</th>
        <th>Client</th>
        <th>Montant</th>
    </thead>
    <tbody  id="myTable">
      <% @orders.each do |order| %>
        <tr class="content">
          <td><%= order.id %></td>
          <td><%= order.created_at %></td>
          <td><%= order.user.lastname.upcase %></td>
          <td><%= calcul_total_order(order) %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
