<% if user_signed_in? %>
  <% if @user %>
    <% @user.added_items.each do |item| %>
      <div class="dropdown-item-text">
        <div class="d-flex bd-highlight">
          <div class="p-2 bd-highlights"><%= item.title %></div>
          <div class="p-2 bd-highlights"><%= image_tag "#{item.item_pic}", size: "40x40"%></div>
          <div class="p-2 bd-highlights"><%= item.price %></div>
          <div class="p-2 bd-highlights">€</div>
        </div>
      </div>
    <% end %>
    <div class="dropdown-divider"></div>
    <span class="dropdown-item-text">SubTotal</span>
    <div class="dropdown-divider"></div>
    <h2 class="dropdown-item-text text-right"><%= calcul_total %> €</h2>
  <% else %>
  <div class="dropdown-item">
    <p>Panier vide! 🤭 😦</p>
  </div>
  <% end %>
<% end %>
