
  <div class="masonry-item col-lg-4 col-md-6 px-4">
    <div class="block block-image-holder mb-0 image-animate-wrapper">
      <div class="block-image image-animate--hover">
        <a href="#">
        <%= image_tag "#{item.image_url}", class: " border rounded" %>
        </a>
      </div>

      <div class="card-body px-0">
        <div class="">
          <%= link_to item.title, item_path(item.id), class: "heading heading-5 strong-500" %>
          <p class="c-gray-light mt-2 d-none">item.description</p>
        </div>
      </div>
    </div>
  </div>
