<h2>Tes performances au <strong><%= Time.now.strftime("%Y-%m-%d %H:%M:%S")%></strong></h2>
<p><%= @orders %> commandes passées</p>
<p><%= @items %> articles achetés</p>
<p><%= @money %> € de gagnés!</p>
