/*
*= require_self
*/
@import "stylesheets/bootstrap";
@import "stylesheets/font-awesome";
@import "stylesheets/animate";
@import "stylesheets/boomerang";


@import "stylesheets/hamburgers";
@import "stylesheets/swiper";

.mb-60 {
  margin-bottom: 30px;
}

.txt {
  height: 4vh;
}

.top-navbar-menu {
  float: none;
}

.container-top {
  margin: 0 15px;

}
